# Archivos de compilación de LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.dvi
*.xdv

# Archivos temporales
*.tmp
*.bak
*.backup

# Archivos de compilación PDF
*.pdf

# Carpetas temporales de compilación
build/
